html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	&:before,
	&:after {
		content: '';
		position: absolute;
	}
}
:root {
	--main-bg: #fff;
	--text: #000;
	--text__header: #4353ff;
	--background__cards: rgba(255, 255, 255, 0.9);
	--logo: url(../images/webflow.svg);
	--share: url(../images/share.svg);
	--copy: url(../images/copy.svg);
	--delete: url(../images/delete.svg);
	--arrow: url(../images/arrow.svg);
	--webdlow: url(../images/webflow.svg);
	--dashboard: url(../images/dashboard.svg);
	--people: url(../images/people.svg);
	--team: url(../images/team.svg);
	--analytics: url(../images/analytics.svg);
	--notifications: url(../images/notifications.svg);
	--showcase: url(../images/showcase.svg);
	--blog: url(../images/blog.svg);
	--chat: url(../images/chat.svg);
	--question: url(../images/question.svg);
	--setting: url(../images/settings.svg);
	--sun: url(../images/sun.svg);
	--box--shadow:drop-shadow(0px 2px 20px rgba(67, 83, 255, 0.50));
	--border-top: 1px solid #312a4e;
	--border-bottom: 1px solid #312a4e;
	--border: 1px solid #312a4e;
	--big__letter: #ffab6b;
	--border-big: none;
	--cover: cover;
	--5-dots__dark: none;
	--font: 700;
	--font-dark: 400;
	--display: none;
	--display__dark: block;
}
:root[data-theme='dark'] {
	--main-bg: #171932;
	--text: #fff;
	--text__header: #fff;
	--background__cards: rgba(23, 25, 50, 0.9);
	--logo: url(../images/webflow__white.svg);
	--share: url(../images/share__white.svg);
	--copy: url(../images/copy__white.svg);
	--delete: url(../images/delete__white.svg);
	--arrow: url(../images/arrow-light.svg);
	--webdlow: url(../images/webflow__white.svg);
	--dashboard: url(../images/dashboard.svg);
	--people: url(../images/clients__white.svg);
	--team: url(../images/team__white.svg);
	--analytics: url(../images/analytics__white.svg);
	--notifications: url(../images/notifications__white.svg);
	--showcase: url(../images/showcase__white.svg);
	--blog: url(../images/forum__white.svg);
	--chat: url(../images/blog__white.svg);
	--question: url(../images/help__white.svg);
	--setting: url(../images/setting.svg);
	--sun: url(../images/sun__white.svg);
	--box--shadow:drop-shadow(0px 2px 7px rgba(255, 255, 255, 0.30));
	--border-top: 1px solid #b3b3b3;
	--border-bottom: 1px solid #b3b3b3;
	--border: 1px solid #b3b3b3;
	--big__letter: #171717;
	--border-big: 1px solid #b3b3b3;
	--5-dots: none;
	--font: 400;
	--font-dark: 700;
	--display: block;
	--display__dark: none;
}
/* input[type='checkbox'] {
	height: 40px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 40px;
} */
body {
	background-color: var(--main-bg);
	display: flex;
	transition: 0.6s;
}

.full {
	display: flex;
	transition: 0.6s;
}
.menu {
	width: 30%;
	border-right: 1px solid rgba(67, 83, 255, 0.2);
	position: relative;
	color: var(--text);
}

.menu__logo {
	width: 102px;
	height: 26px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 48px;
	background: var(--logo);
}
.menu__list {
	display: flex;
	align-items: center;
	position: relative;
	height: 55px;
	width: 100%;
	transition: 0.5s;
}

.menu__list:last-child {
	margin-bottom: 10px;
}
.menu__list-basic {
	border-bottom: 1px solid rgba(67, 83, 255, 0.2);
}
.menu__list-help {
	margin-top: 10px;
	border-bottom: 1px solid rgba(67, 83, 255, 0.2);
}
.menu__list-help.menu__list:last-child {
	padding-right: 0;
}
.menu__list:hover {
	color: rgba(67, 83, 255, 1);
	background-color: rgba(67, 83, 255, 0.3);
}
.menu__list-item {
	align-content: space-around;
	height: 55px;
	padding-left: 20px;
	gap: 21px;
	position: relative;
}

.menu__list-text {
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.menu__list-text:hover {
	color: #4353ff;
}
.menu__list-img {
	margin-left: 20px;
	margin-right: 21px;
	fill: #fff;
}
.dashboar {
	width: 20px;
	height: 17px;
	background: var(--dashboard);
}

.clients {
	width: 20px;
	height: 21px;
	background: var(--people);
}
.team {
	width: 19px;
	height: 19px;
	background-size: cover;
	background: var(--team);
}
.analytics {
	width: 20px;
	height: 20px;
	background: var(--analytics);
}
.notifications {
	width: 19px;
	height: 22px;
	background: var(--notifications);
}
.showcase {
	width: 19px;
	height: 19px;
	background: var(--showcase);
}
.blog {
	width: 22px;
	height: 18px;
	background: var(--blog);
}
.forum {
	width: 20px;
	height: 20px;
	background: var(--chat);
}
.help {
	width: 21px;
	height: 21px;
	background: var(--question);
}
.settings {
	width: 19px;
	height: 19px;
	background: var(--setting);
}
.sun {
	width: 19px;
	height: 19px;
	background: var(--sun);
}
.bth {
	position: absolute;
	top: 15%;
	right: 0;
}
.bth input[type='checkbox'] {
	position: relative;
	width: 70px;
	height: 35px;
	appearance: none;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 2px 2px #9b9b9b, inset 0 -2px 2px #9b9b9b;
	transition: 0.5s;
	cursor: pointer;
	background: rgba(189, 189, 189, 1);
}
.btn input:checked[type='checkbox'] {
	background: #222;
	box-shadow: inset 0 2px 2px #ffffff33, inset 0 -2px 2px #ffffff33;
}

input[type='checkbox']::before {
	content: '';
	position: absolute;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	top: 2.5px;
	left: 1px;
	background: #fff;
	transition: 0.5s;
	box-shadow: inset 0 2px 2px #fff, inset 0 -2px 2px #fff;
}
input:checked[type='checkbox']::before {
	background: linear-gradient(to bottom, #444, #222);
	box-shadow: inset 0 2px 2px #ffffff33, inset 0 -2px 2px #fff3ff;
	transform: translateX(38px);
}
#darkModeButton:checked {
	background: rgba(67, 83, 255, 1);
}

.menu__list-bio {
	margin-left: 20px;
	padding-right: 5px;
}
.menu__list-sign {
	font-family: Roboto;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: absolute;
	right: 10px;
}
.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(67, 83, 255, 0.2);
	color: var(--text__header);
}
.dashboard {
	padding-top: 10px;
	width: 100%;
}
.dashboard-name {
	color: var(--text__header);
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 20px;
}
.dashboard- {
	color: var(--text__header);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.dashboard-project {
	color: var(--text__header);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.search-new {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-right: 10px;
}
.search-form {
	border: 1px solid #4353ff;
	border-radius: 100px;
	display: inline-flex;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	overflow: hidden;
	background-color: #fff;
}
.search-form__txt {
	border: none;
	width: 200px;
	outline: none;
	padding-right: 10px;
	color: rgba(0, 0, 0, 0.4);
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background-color: #fff;
}
.search-form__bth {
	border: none;
	cursor: pointer;
	background-color: #fff;
}
.search-form__image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background-color: transparent;
}
.new-project {
	width: 170px;
	height: 41px;
	border-radius: 170px;
	border: 1px solid #4353ff;
	background: #4353ff;
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}
.main {
	width: 98%;
	padding-top: 30px;
	margin-left: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.card {
	position: relative;
	width: 300px;
	height: 280px;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: 1s;
}
.card__animation {
	width: 100%;
	height: 99%;
	position: absolute;
	background: var(--background__cards);
	opacity: 0;
	transition: 1s;
	cursor: pointer;
	
}
.card__animation-choose {
	position: absolute;
	display: flex;
	gap: 12px;
	right: 16px;
	top: 17px;
}
.card__animation-choose__send {
}
.card__animation-open {
	left: 30%;
	bottom: 55%;
	display: flex;
	gap: 15px;
	position: absolute;
}
.card__animation-text {
	color: var(--text__header);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.card__animation-open__image {
}
.card:hover {
	transform: scale(1.1);
	opacity: 1;
	filter: var(--box--shadow);
}
.card__animation:hover {
	opacity: 0.9;
}

.card__animation:hover .card__animation-text:hover {
	transform: scale(1);
	opacity: 1;
}
.card-choose {
	display: flex;
	align-items: center;
	width: 300px;
	height: 60px;
	background-color: #4353ff;
	fill: #4353ff;
	stroke-width: 1px;
	stroke: #4353ff;
	filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.3));
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.card-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	border-right: 1px solid #fff;
	width: 230px;
	height: 100%;
}
.card__send {
	display: flex;
	gap: 10px;
}
.card__name {
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.card__settings {
	margin: 0 auto;
}
.card__image {
	position: relative;
	width: 300px;
	height: 220px;
	object-fit: cover;
	object-position: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.arrow {
	width: 12px;
	height: 21px;
	background: var(--arrow);
}
.share {
	width: 20px;
	height: 21px;
	background: var(--share);
}
.copy {
	width: 20px;
	height: 21px;
	background: var(--copy);
}
.delete {
	width: 16px;
	height: 21px;
	background: var(--delete);
}
.toggle {
	position: absolute;
	right: 10px;
	bottom: 12px;
	display: inline-block;
}

label.toggle-item {
	width: 53px;
	background: #2e394d;
	height: 29px;
	display: inline-block;
	border-radius: 50px;

	position: relative;
	transition: all 0.3s ease;
	transform-origin: 20% center;
	cursor: pointer;
	&:before {
		display: block;
		transition: all 0.2s ease;
		width: 25px;
		height: 25px;
		top: 1.2px;
		left: 1px;
		border-radius: 2em;
		border: 2px solid #88cf8f;
		transition: 0.3s ease;
	}
}

.normal {
	label {
		background: rgba(189, 189, 189, 1);
		border: 0.5px solid rgba(117, 117, 117, 0.31);
		&:before {
			border: none;
			width: 25px;
			height: 25px;
			background: #fff;
			transform: rotate(-25deg);
		}
	}
}

#normal:checked + label {
	background: rgba(67, 83, 255, 1);
	&:before {
		left: 25px;
	}
}
